
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<h2>
    @Html.ActionLink("Xin chào bạn đã tới trang web này <3","Hello","Link",new { hoTen = "Trương Văn Tiến Thịnh"},new {id = "TagA"})
</h2>

