
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chào bạn <font color="red">@ViewBag.hoTen</font> Bạn đã đăng nhập thành công với tài khoản <font color="red">@ViewBag.account</font></h2>

