
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Account", "Account", new { @hoTen = "Trương Văn Tiến Thịnh" }))
{
<table>
    <tr>
        <td colspan="2"><h2>Đăng nhập</h2></td>
    </tr>
    <tr>
        <td> Tên đăng nhập: </td>
        <td> @Html.TextBox("txtAccount")</td>
    </tr>
    <tr>
        <td> Mật khẩu: </td>
        <td> @Html.Password("txtPassWord")</td>
    </tr>
    <tr>
        <td> <input type="submit" value="Đăng nhập" /></td>
    </tr>
</table>
}
