
@{
    ViewBag.Title = "HTML";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/HTML.css" />
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () { $("div").click(function () { alert("lo"); }); });
    </script>
</head>
<body>
    <h2>Trương Văn Tiến Thịnh</h2>
    <h3>Hình ảnh và video</h3>
    <div id="myID">Nhấp vào đây</div>
    <p>
        hahahahahaahahahaahhah
    </p>
    <a href="https://giadinh.edu.vn" class="btn btn-success">gia định</a>
    <br /><img src="C:\Users\admin\OneDrive\Documents\VSDEMO\MVC\project\projectMoDau\NgonNguWeb\NgonNguWeb\27073039_216362665577589_8027399148713754298_n.jpg" width="300" height="300" />
    <video width="1092" height="1080" controls>
        <br />
        <source src="C:\Users\admin\OneDrive\Documents\VSDEMO\MVC\project\projectMoDau\NgonNguWeb\NgonNguWeb\Nightcore - Royalty -- Lyrics.mp4" />
    </video>
</body>